﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        You can find me everywhere. But it's better to contact using telegram @@AsTex
                        <a class="btn btn-default btn-default" href="https://telegram.me/@@AsTex">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Self-made non-generic ORM for better using with MVC.
                        <a class="btn btn-default btn-default" href="http://bitbucket.org/dotastex/dmdProject">
                            Learn More on BitBucket
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        IEEE Xplore Database parser with source, still in beta but will be finished soon.
                        <a class="btn btn-default btn-default" href="http://bitbucket.org/dotastex/dmdProject">
                            Learn More on BitBucket
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="panel-info">
            <div class="panel-heading">
                Random Articles
            </div>
            <div class="panel-body" id="recentArticles">

            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        GetRecentArticles();
    }
</script>
<script>
    function GetRecentArticles() {
        $.ajax({
            type: 'get',
            dataType: 'json',
            cache: false,
            url: '/Search/JsonRecent',
            success: function (response, textStatus, jqXHR) {
                var element = document.getElementById("recentArticles");
                var max = response['max'];
                var result = "";
                for (var i = 0; i < max; i++) {
                    var article = response['articles'][i];
                    result += "<p><a href=\"/Article/ViewArticle?id=" + article.ID + "\"><b>" + article.Title + "</b></a></p><br>"
                }
                element.innerHTML += result;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error - ' + errorThrown);
            }
        });
    }
</script>