﻿@{
    ViewData["Title"] = "Browse articles" + ViewBag.SearchQuery;
}
<div id="heading"><h2>@ViewData["Title"]</h2></div>
<div class="row">
    <div class="col-md-offset-8 col-md-4">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="searchInput">Query</label>
                <input type="text" class="form-control" id="searchInput">
            </div>
            <a class="btn btn-info" onclick="GetResults(0)">Search</a>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">Search filter</div>
            <div class="panel-body" id="areas">
                
            </div>
            <input type="hidden" id="page" value="0"/>
        </div>
    </div>
    <div class="col-md-9" id="searchResults">

    </div>
</div>
<script>
    window.onload = function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                GetResults(document.getElementById("page").value);
            }
        });
    };
    function GetResults(page) {
        $.ajax({
            type: 'get',
            dataType: 'json',
            cache: false,
            url: '/Search/Json',
            data: { search_string: document.getElementById("searchInput").value, page:page },
            success: function (response, textStatus, jqXHR) {
                var max = response['max_id'];
                var filter = document.getElementById("areas");
                var areas = response['areas'];
                var areasItems = response['areasItems'];
                var areasCnt = response['areas_cnt'];
                var areasIds = response['areasIDs'];
                var areasHtml = "";
                for (var i = 0; i < areasCnt; i++) {
                    areasHtml += "<span class=\"checkbox\" id =\"catId" + areasIds[i] + "\">" +
    "<label><input type=\"checkbox\">" + areas[i] + " (" + areasItems[i]+")" + "</label></div>";
                }
                filter.innerHTML = areasHtml;
                if (page == 0)
                    document.getElementById("searchResults").innerHTML = "";
                var element = document.getElementById("searchResults");
                //element.innerHTML = "";
                for (var i = 0; i < max; i++) {
                    var article = response['articles'][i];
                    var authors = article.Authors;
                    var authorsHtml = "<p>";
                    authors.forEach(function (author, j, authors) {
                        if(author !=null)
                        if(author.Name !=null)
                        authorsHtml += "<a href=\"/Author/Profile?id=" + author.Id + "\">" + author.Name + "</a> "
                    });
                    authorsHtml += "</p>";
                    var venueHtml = "<p><a href=\"/Venue/ViewVenue?id=" + article.Venue.ID + "\">" + article.Venue.Name + "</a><br />" +
                        "Publication Date: " + article.Venue.Date + "<br /></p>";

                    var result = "<div class=\"panel panel-info\">"
                         + "<div class=\"panel-heading\">"
                                + " <a href=\"/Article/ViewArticle?id=" + article.ID + "\"><b>" + article.Title + "</b></a>"
                         + "</div>"
                         + "<div class=\"panel-body\">";
                    result += authorsHtml + venueHtml + "Pages:" + article.FirstPage + "-" + article.LastPage + "<br />";
                    element.innerHTML += result + "</div></div>"
                }
                document.getElementById("heading").innerHTML = "<h2>Search results for \"" + document.getElementById("searchInput").value + "\"</h2>";
                document.getElementById("page").value = page+1;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error - ' + errorThrown);
            }
        });
    }
</script>