﻿@model ArticleModel

@{
    ViewData["Title"] = "Create new Article";
}
<h2>@ViewData["Title"]</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form" action="/Article/Add" method="post">
            <div class="form-group">
                <label for="title" class="col-md-2 control-label">Article Title</label>
                <div class="col-md-10">
                    <input class="form-control" id="title" name="title">
                </div>
            </div>
            <div class="form-group">
                <label for="shortDescription" class="col-md-2 control-label">Short Description</label>
                <div class="col-md-10">
                    <textarea class="form-control" rows="3" name="shortDescription" id="shortDescription"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="publisher" class="col-sm-2 control-label">Publisher</label>
                <div class="col-md-10">
                    <input class="form-control" id="publisher" name="publisher">
                </div>
            </div>
            <div class="form-group">
                <label for="publication" class="col-sm-2 control-label">Publication</label>
                <div class="col-md-10">
                    <input class="form-control" id="publication" name="publication">
                </div>
            </div>

            <div class="form-group">
                <label for="publicationDate" class="col-sm-2 control-label">Publication Date</label>
                <div class="col-md-10">
                    <input class="form-control" id="publicationDate" name="Date">
                </div>
            </div>
            <div class="form-group">
                <label for="firstPage" class="col-sm-2 control-label">First Page</label>
                <div class="col-md-10">
                    <input class="form-control" id="firstPage" name="firstPage">
                </div>
            </div>
            <div class="form-group">
                <label for="lastPage" class="col-sm-2 control-label">First Page</label>
                <div class="col-md-10">
                    <input class="form-control" id="lastPage" name="lastPage">
                </div>
            </div>
            <div class="form-group">
                <label for="link" class="col-sm-2 control-label">Link</label>
                <div class="col-md-10">
                    <input class="form-control" id="link" name="Link">
                </div>
            </div>
            <div class="form-group">
                <label for="researchArea" class="col-sm-2 control-label">Research area</label>
                <div class="col-md-10">
                    <input class="form-control" id="researchArea" name="researchArea">
                </div>
            </div>
            <div class="form-group">
                <label for="keywords" class="col-md-2 control-label">Keywords(split by ;)</label>
                <div class="col-md-10">
                    <input class="form-control" id="keywords" name="keywords">
                </div>
            </div>
            <div class="form-group">
                <label for="authors" class="col-sm-2 control-label">Authors(split by ;)</label>
                <div class="col-md-10">
                    <input class="form-control" id="authors" name="authors" placeholder="e.g. V.Milenko, AsTex">
                </div>
            </div>
            <input class="hidden" id="id" name="id">
            <div class="form-group">
                <div class="col-md-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
