﻿@model ArticleModel

@{
    ViewData["Title"] = Model.Title;
}
<h2>@ViewData["Title"]</h2>
<div class="panel panel-default">
    <div class="panel-body">
                <form class="form-horizontal" role="form" action="/Article/Update" method="post">
                    <div class="form-group">
                        <label for="title" class="col-md-2 control-label">Article Title</label>
                        <div class="col-md-10">
                            <input class="form-control" id="title" name="title" value="@Model.Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="shortDescription" class="col-md-2 control-label">Short Description</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="3" name="shortDescription" id="shortDescription">@Model.ShortDescription</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publisher" class="col-sm-2 control-label">Publisher</label>
                        <div class="col-md-10">
                            <input class="form-control" id="publisher" name="publisher" value="@Model.Publisher.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publication" class="col-sm-2 control-label">Publication</label>
                        <div class="col-md-10">
                            <input class="form-control" id="publication" name="publication" value="@Model.Venue.Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="publicationDate" class="col-sm-2 control-label">Publication Date</label>
                        <div class="col-md-10">
                            <input class="form-control" id="publicationDate" name="Date" value="@Model.Venue.Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstPage" class="col-sm-2 control-label">First Page</label>
                        <div class="col-md-10">
                            <input class="form-control" id="firstPage" name="firstPage" value="@Model.FirstPage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastPage" class="col-sm-2 control-label">First Page</label>
                        <div class="col-md-10">
                            <input class="form-control" id="lastPage" name="lastPage" value="@Model.LastPage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="link" class="col-sm-2 control-label">Link</label>
                        <div class="col-md-10">
                            <input class="form-control" id="link" name="Link" value="@Model.Link">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="researchArea" class="col-sm-2 control-label">Research area</label>
                        <div class="col-md-10">
                            <input class="form-control" id="researchArea" name="researchArea" value="@Model.ResearchArea.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keywords" class="col-md-2 control-label">Keywords</label>
                        <div class="col-md-10">
                            <input class="form-control" id="keywords" name="keywords" value="@ViewData["Keywords"]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="authors" class="col-sm-2 control-label">Authors</label>
                        <div class="col-md-10">
                            <input class="form-control" id="authors" name="authors" placeholder="e.g. V.Milenko, AsTex" value="@ViewData["Authors"]">
                        </div>
                    </div>
                    <input class="hidden" id="id" name="id" value="@Model.ID">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info">Update</button>
                        </div>
                    </div>
                </form>
    </div>
</div>
