﻿@model ArticleModel

@{
    ViewData["Title"] = Model.Title;
}
<div class="row">
    <div class="col-md-10">
        <h2>@ViewData["Title"]</h2>
        <button class="btn btn-success" onclick="window.location.href = '/Article/EditArticle?id=@Model.ID'">Edit article</button><br/><br/>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
           
             <div class="col-md-10">
                @Model.ShortDescription
            </div>
        </div>
        <br />
        <div class="row">
    
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Article info</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p style="text-align:center; margin-top:10px">
                                    <b>Published in:</b>
                                    <br />
                                    <a href="/Venue/ViewVenue?id=@Model.Venue.ID">@Model.Venue.Name</a>
                                    <br />
                                    <b>Page(s):</b>
                                    <br />
                                    @Model.FirstPage - @Model.LastPage
                                    <br />
                                    <b>Publisher:</b>
                                    <br />
                                    @Model.Publisher.Name
                                    <br />
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p style="text-align:center; margin-top:10px">
                                    <b>Publication date:</b><br />
                                    @Model.Venue.Date<br />
                                    <b>ISSN:</b><br />
                                    @Model.Venue.ISSN
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Article authors and source</div>
                    <div class="panel-body">
                        <p style="text-align:center;">
                            @{foreach (var author in Model.Authors)
                                {
                                    if (author !=null)
                                    {
                                        if (author.Name != null) { 
                                            <a href="/Author/Profile?id=@author.ID">@author.Name</a>
                                        }
                                        if (author.Institution != null)
                                        {
                                            @author.Institution
                                        }
                                    }

                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p style="text-align:center; margin-top:10px">
                    <b>Keywords:</b><br />
                    @{
                        try
                        {
                            if (Model.Keywords != null)
                            {
                                foreach (var keyword in Model.Keywords)
                                {
                                <a href="/Search?keyword=@keyword.Content"><span class="label label-primary">@keyword.Content</span></a>
                                }
                            }
                        }
                        catch { }
                    }
                    <br />
                    <a href="@Model.Link">Link on IEEE Xplore</a>
                </p>
            </div>
        </div>
        
    </div>
</div>
<script>
    function Update(id){
        window.location("/Article/EditArticle?id"+id);
    
    }
</script>
